* Exercise 1 _Numpy vs Pandas

In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('Students-marks.csv')

In [4]:
print(dataset)

      Name  Maths  Physics  Chemistry
0     John     45       25         98
1  William     76       55         35
2    Henry     22       89         67
3    Chris     88       55         77

pandas wlin array ekakta daagnna widiya

In [5]:
dataset = pd.read_csv('Students-marks.csv').values

In [6]:
print(dataset)

[['John' 45 25 98]
 ['William' 76 55 35]
 ['Henry' 22 89 67]
 ['Chris' 88 55 77]]

In [11]:
print(dataset.ndim, dataset.shape, dataset[2,3])

2 (4, 4) 67

In [9]:
import numpy as np

In [22]:
avg = np.mean(dataset[:,1:4],axis=1)
print(avg)

[56.0 55.333333333333336 59.333333333333336 73.33333333333333]

In [23]:
def findGrade(mark):
    if(mark>=0 and mark<35):
       grade='F'
    elif(mark>=35 and mark<45):
       grade='S'
    elif(mark>=45 and mark<65):
       grade='C'
    elif(mark>=65 and mark<75):
       grade='B'
    elif(mark>=75 and mark<=100):
       grade='A'
    return grade

In [24]:
mathsGrades= np.array([findGrade(i) for i in dataset[:,1]])

print(mathsGrades)

['C' 'A' 'F' 'A']

In [25]:
mathsGrades=mathsGrades.reshape(-1,1)
print(mathsGrades)

[['C']
 ['A']
 ['F']
 ['A']]

append new cloum aboujt grades to dataset

In [26]:
dataset=np.append(dataset,mathsGrades,axis=1)
print(dataset)

[['John' 45 25 98 'C' 'C']
 ['William' 76 55 35 'A' 'A']
 ['Henry' 22 89 67 'F' 'F']
 ['Chris' 88 55 77 'A' 'A']]

converting to a dataframe

In [29]:
df=pd.DataFrame(data=dataset)
print(df)

         0   1   2   3  4  5
0     John  45  25  98  C  C
1  William  76  55  35  A  A
2    Henry  22  89  67  F  F
3    Chris  88  55  77  A  A

In [32]:
df=pd.DataFrame(data=dataset,columns=["name","maths","phy","chem","m-grade","c"])
print(df)

      name maths phy chem m-grade  c
0     John    45  25   98       C  C
1  William    76  55   35       A  A
2    Henry    22  89   67       F  F
3    Chris    88  55   77       A  A

Save to csv

In [33]:
df.to_csv('new-dataset.csv',index=False )